# 1.  IF condition

<font size = "5"> Features </font>


We are going to cover certain functions necessary to be able to write ours. for
1. We will learn to use the **if** function.
2. We will see the types of **Loops** in R.
3. Structure of a **function**.

# If condition

Function **if** test conditions. 
- Equals: a == b
- Not Equals: a != b
- Less than: a < b
- Less than or equal to: a <= b
- Greater than: a > b
- Greater than or equal to: a >= b

<img src="../images/if_R.png" alt="image info" />

### The structure of the code is the following: <br><br>

<font size="4">
if <font color='green'>test expresion</font>:<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code to excute<br>
</font>

The function **if** tests the veracity of a logic expression. The result of test statement should be a **<font color='red'>boolean</font>**. In other words, the output of the test statemen must be **<font color='red'>True</font>** or **<font color='red'>False</font>**. To sum, any function that its output is **boolean** can be used as a test expression in the **if** function.

In [1]:
library(glue)

In [2]:
A <- 20
B <- 30

result <- A == B
glue( 'result A == B  {result} \n')

result <- A != B
glue('result A != B   {result} \n' )

result <- A > B
glue('result A > B  {result} \n')

result A == B  FALSE

result A != B   TRUE

result A > B  FALSE

## Test more than 1 expression

We will use **elif**. This function allows us to add more test expressions.  <br><br>


<img src="../images/eslse_if_R.png" alt="image info" />

In [3]:
A <- 20
B <- 30

if (A == B){
    print( 'Test expresion 1 is True' )
    
} else if(A > B) {
    print( 'Test expresion 2 is True' )

} else if(A >= B) {
    print( 'Test expresion 3 is True' )
    
} else if(A < B){
    print( 'Test expresion 4 is True' )

} else if(A <= B){
    print( 'Test expresion 5 is True' )
    
} else {
    
        print( 'Test expresion 6 is True' )
    }

[1] "Test expresion 4 is True"

# R Nested if Statement

In [40]:
total <- 100
#country = "PE"
country <- "PE"


if (country == "PE"){
    
    if(total <= 50){
    print("Shipping Cost is  $50")
    } else if( total <= 100){
    print("Shipping Cost is $25")
    } else if(total <= 150){
    print("Shipping Costs $5")          
    } else {
      print("FREE")
    }
}
        
if (country == "AR"){
    if (total <= 50){
      print("Shipping Cost is  $100")  
    }
    else{
        print("BAD")
        }
    }

[1] "Shipping Cost is $25"

# Conclusion

The **if** function is not only useful with logical expressions, but also with functions whose result is a **<font color = 'red' > Boolean </font>** (**True** or **False**).<br>
For example, the **isinstance** function evaluates whether a variable is string, bool, int, float and returns a Boolean (True or False) as a result. For more information [here](https://docs.python.org/3/library/functions.html#isinstance). <br>

# Loops
Un loop es una función que permite realizar tareas de manera iterativa cierto número de veces (for loop) o mientras una condición sea verdadera (while loop).

## While Loop
Repite el código mientras la condición se mantenga verdadera. Cuando la expresión lógica sea falsa, el código terminará de ejecutarse. [More Info](https://python101.pythonlibrary.org/chapter5_loops.html)
<img src="../images\while_loop.jpg">

In [5]:
i <- 1 #contador

# condition "i < 6"
while (i < 6){
      # print i
    print(i)
    
    #breand and ends code
    i = 1 + i    
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [7]:
edad <- c(3, 6, 7, 10, 15, 17, 18, 31, 26, 88 , 100, 120, 110)

# Utilizaremos el paquete np.

i = 0

while (i < length(edad)-2){
        print(edad[i])
            i = 1 + i  
}

numeric(0)
[1] 3
[1] 6
[1] 7
[1] 10
[1] 15
[1] 17
[1] 18
[1] 31
[1] 26
[1] 88

### If I have my savings today of S/.1,000.00. How much will my savings be worth in 10 years at an interest rate of 2.5%?

$$
S_{y+1}	=S_{y}(1+i)
$$

In [20]:
S <- 1000 #  saves

n <- 10  #periods

i <- 0.025 #interest rate

In [ ]:
year = 1
while (year < n){
    S <-  S*(1+i)
    year <-  year + 1
    print(glue( "periodo {year} : {S}"))
    }

In [ ]:
A <- c(1, 2, 3, 4, 5)

i=0
while (A[i] < 4){
    print(A[i])
        i=1+i
}

### Dataframe and conditional

In [16]:
personas <- data.frame(
  "nombres" = c('Marcelo', 'Octavio', 'Fredy', 'Felipe', 'Arturo', 'Anzony', 'Finado', 'Alex', 'Anny', 'Yampi'), 
  "edad" = c(23, 25, 36, 78, 90, 32, 200, 24, 12, 10)
)

personas

   nombres edad
1  Marcelo  23
2  Octavio  25
3  Fredy    36
4  Felipe   78
5  Arturo   90
6  Anzony   32
7  Finado  200
8  Alex     24
9  Anny     12
10 Yampi    10

In [17]:
personas$nombres  # sacar info de una columna / vector

 [1] Marcelo Octavio Fredy   Felipe  Arturo  Anzony  Finado  Alex    Anny
[10] Yampi
10 Levels: Alex Anny Anzony Arturo Felipe Finado Fredy Marcelo ... Yampi

In [18]:
personas$nombres[1]  #saca solo el primer datosb

[1] Marcelo
10 Levels: Alex Anny Anzony Arturo Felipe Finado Fredy Marcelo ... Yampi

In [19]:
dim(personas) # da  numero de filas y columnas
#dim(personas)[1][2] # da posición del dato en fila 1 y columna 2

[1] 10  2

In [20]:
#personas <- personas$newvariable #crea variable vacía

In [21]:
i <-1

nrows = length(personas$edad) #nrows = dim(personas)[1]

#números de filas es 10

while (i < nrows){
     if (personas$edad[i] > 100){
        print('Que fue loco fantasmas')
    }
    else if (personas$edad[i] < 18){
      personas$pasa[i] = "Menor de edad"   #crear columna y agregar texto
    } else {
        personas$pasa[i] = "OK"   
        }
    i <- i + 1 
}

[1] "Que fue loco fantasmas"

In [22]:
personas

   nombres edad pasa
1  Marcelo  23  OK
2  Octavio  25  OK
3  Fredy    36  OK
4  Felipe   78  OK
5  Arturo   90  OK
6  Anzony   32  OK
7  Finado  200  OK
8  Alex     24  OK
9  Anny     12  Menor de edad
10 Yampi    10  OK

# 2. For loops


A for loop is used for iterating over a sequence. It executes a code a definite number of times. It has the following structure:

<img src="../images/for_loop.jpg" alt="image info" />

In [62]:
ages = c(21, 23, 25, 24, 20)

for (age in ages) {
      print(age+10 )  
}

[1] 31
[1] 33
[1] 35
[1] 34
[1] 30

In [24]:
production_fish = read.csv("../../data/production_fish.csv" ) #subir base de datos

# ../ -> salir de la carpeta
#data -> carpeta data
#production_fish.csv -> archivo

Warning message in file(file, "rt"):
"no fue posible abrir el archivo '../../data/production_fish.csv': No such file or directory"

ERROR: Error in file(file, "rt"): no se puede abrir la conexión

In [ ]:
production_fish

In [ ]:
names(production_fish) #obtner los nomvres de la variable production_fish

In [ ]:
colums <- names(production_fish)[(-1)] #elimina primera variable

In [ ]:
colums

In [ ]:
head(production_fish)

In [26]:
production_fish$new <- 1  #crea columna de 1s

production_fish

ERROR: Error in production_fish$new <- 1: objeto 'production_fish' no encontrado

In [128]:
for (col in colums){
    print(glue('{col}'))
    }

Consumo.Industrial...Anchoveta
Consumo.Humano...Congelado...Concha.de.abanico
Consumo.Humano...Congelado...Langostino
Consumo.Humano...Congelado...Merluza
Consumo.Humano...Congelado...Calamar.gigante
Consumo.Humano...Conservas...AtÃºn
Consumo.Humano...Conservas...Caballa
Consumo.Humano...Conservas...Jurel
Consumo.Humano...Conservas...Sardina
Consumo.Humano...Fresco...Concha.de.abanico
Consumo.Humano...Fresco...Jurel
Consumo.Humano...Fresco...Liza
Consumo.Humano...Fresco...Tollo
total_production

In [27]:
for (col in colums){
    production_fish[col] <- (production_fish[col] * 100) / production_fish$total_production
    }

#este for no genera nuevas variables, el error está en que no se reconoce col como creación de una nueva variable

ERROR: Error in eval(expr, envir, enclos): objeto 'colums' no encontrado

In [ ]:
library(glue)
glue('{col}_%')

for (col in colums){
    production_fish[glue('{col}_%')] <- (production_fish[glue('{col}_%')] * 100) / production_fish$total_production
    }

# se extrae info de cada columna 
# ahora col cambia de nombre cada que corrre for
# se crean nuevas columnas

In [130]:
production_fish

   year Consumo.Industrial...Anchoveta
1  2005 8628.396
2  2006 5891.838
3  2007 6084.713
4  2008 6159.387
5  2009 5828.636
6  2010 3330.413
7  2011 7000.093
8  2012 3693.871
9  2013 4754.118
10 2014 2255.453
11 2015 3616.481
12 2016 2732.734
13 2017 3165.490
14 2018 6072.888
15 2019 3381.437
16 2020 4314.558
   Consumo.Humano...Congelado...Concha.de.abanico
1  13.53700
2  14.71400
3  19.93700
4  18.79000
5  24.63437
6  60.00125
7  92.02764
8  38.93339
9  89.29328
10 52.26650
11 14.84315
12 10.09013
13  4.59609
14 36.53035
15 53.11286
16 46.99529
   Consumo.Humano...Congelado...Langostino Consumo.Humano...Congelado...Merluza
1   9.02100                                23.27900
2  11.29500                                25.18900
3  13.54800                                28.35849
4  12.81700                                26.34840
5  11.87740                                36.77476
6  14.47794                                25.64770
7  23.38448                                28.54446
8  22.70722                                21.05478
9  19.11137                                31.18746
10 21.76299                                30.77080
11 26.77221                                25.64413
12 29.25375                                25.80021
13 38.76007                                37.14743
14 31.50588                                34.87658
15 42.85764                                28.97985
16 34.51697                                19.84290
   Consumo.Humano...Congelado...Calamar.gigante
1  235.6300
2  365.7290
3  379.5566
4  484.1621
5  355.1066
6  327.5719
7  373.1957
8  457.0727
9  410.7595
10 465.0076
11 426.9323
12 246.1247
13 252.4299
14 319.1465
15 483.7652
16 407.3848
   Consumo.Humano...Conservas...AtÃºn Consumo.Humano...Conservas...Caballa
1   9.877000                          25.711000
2  11.336000                          58.245000
3   3.713293                          26.248739
4   3.283711                          47.694121
5   2.017061                          51.355908
6   9.182845                           9.729522
7   6.586856                          20.478814
8   1.115060                           9.978510
9   7.136436                          26.600553
10  4.734540                          29.576440
11 11.082120                          15.314910
12 10.884490                          57.675170
13 11.802750                          23.249140
14 18.138975                          24.610468
15 17.839298                          19.598784
16  3.843680                          28.408700
   Consumo.Humano...Conservas...Jurel Consumo.Humano...Conservas...Sardina ...
1   20.481000                         0.16500000                           ...
2  122.904000                         0.04800000                           ...
3   82.910307                         0.00102000                           ...
4   58.864202                         0.00000000                           ...
5   14.289041                         0.00000000                           ...
6    5.774274                         0.00000000                           ...
7   83.277943                         0.05446333                           ...
8   43.693940                         0.08846000                           ...
9    7.197624                         0.00000000                           ...
10   8.882560                         0.00000000                           ...
11   2.769796                         0.16414000                           ...
12   0.412040                         0.00749000                           ...
13   1.052910                         0.00000000                           ...
14  14.619846                         0.00000000                           ...
15  27.733432                         0.00000000                           ...
16  23.475890                         0.00000000                           ...
   Consumo.Humano...Congelado...Calamar.gigante_%
1   2.609294
2   5.502230
3   5.589236
4   7.006976
5   5.552894
6   8.596043
7   4.834589
8  10.426908
9   7.580665
10 15.855062
11 10.217753
12  7.810397
13  7.055952
14  4.838788
15 11.734409
16  8.241159
   Consumo.Humano...Conservas...AtÃºn_% Consumo.Humano...Conservas...Caballa_%
1  0.10937484                           0.2847156
2  0.17054508                           0.8762701
3  0.05468083                           0.3865310
4  0.04752310                           0.6902473
5  0.03154131                           0.8030656
6  0.24097343                           0.2553192
7  0.08532989                           0.2652942
8  0.02543715                           0.2276334
9  0.13170463                           0.4909196
10 0.16143054                           1.0084487
11 0.26522793                           0.3665311
12 0.34540293                           1.8302348
13 0.32991188                           0.6498627
14 0.27501683                           0.3731354
15 0.43271736                           0.4753962
16 0.07775541                           0.5746915
   Consumo.Humano...Conservas...Jurel_% Consumo.Humano...Conservas...Sardina_%
1  0.22680024                           1.827159e-03
2  1.84903601                           7.221386e-04
3  1.22091218                           1.502021e-05
4  0.85190492                           0.000000e+00
5  0.22344144                           0.000000e+00
6  0.15152675                           0.000000e+00
7  1.07882993                           7.055490e-04
8  0.99676202                           2.017982e-03
9  0.13283387                           0.000000e+00
10 0.30286290                           0.000000e+00
11 0.06628941                           3.928356e-03
12 0.01307547                           2.376839e-04
13 0.02943107                           0.000000e+00
14 0.22166102                           0.000000e+00
15 0.67271355                           0.000000e+00
16 0.47490361                           0.000000e+00
   Consumo.Humano...Fresco...Concha.de.abanico_%
1  0.02040970
2  0.06090036
3  0.07102191
4  0.01198584
5  0.02882060
6  0.07412620
7  0.01131102
8  0.01698631
9  0.04023707
10 0.02073604
11 0.01474055
12 0.01839750
13 0.01044571
14 0.02352128
15 0.02975100
16 0.01247542
   Consumo.Humano...Fresco...Jurel_% Consumo.Humano...Fresco...Liza_%
1  0.6219863                         0.06506457
2  2.0585014                         0.04763106
3  1.9863099                         0.13720850
4  1.1591344                         0.21005286
5  0.7361893                         0.27070197
6  0.2730431                         0.25471143
7  0.9451022                         0.15707167
8  1.6637163                         0.39151535
9  1.0049715                         0.23125928
10 1.5802452                         0.41763497
11 0.4197106                         0.29828892
12 0.3957818                         0.50004312
13 0.1925770                         0.81233724
14 0.2231942                         0.35366540
15 0.9896301                         0.58287722
16 0.9733549                         0.30328293
   Consumo.Humano...Fresco...Tollo_% total_production_%
1  0.004761687                       100
2  0.023830575                       100
3  0.041746742                       100
4  0.042452694                       100
5  0.063454207                       100
6  0.131069716                       100
7  0.073679378                       100
8  0.096619026                       100
9  0.072817863                       100
10 0.177535616                       100
11 0.184706921                       100
12 0.299980875                       100
13 0.187074035                       100
14 0.055675361                       100
15 0.030123626                       100
16 0.011016638                       100

In [ ]:
production_fish['new2']<-2  # agrega variable

# 3.  Functions 

- Abstraction and Reusability: Replicate the code you will use over and over again.
- Modularity: Functions allow complex processes to be broken up into smaller steps

<img src="../images/function_R.png">

More detail in Kaggle:

https://www.kaggle.com/code/ananta/packages-and-functions-in-r/notebook

In [136]:
calculator <- function(x,z,a)
    {
    m <- (x+z)**a
    return(m)
}

In [138]:
calculator(4,2,0.5)

[1] 2.44949

### <a id='2.2'> 2.2 Multiples outcomes </a>

In [154]:
# several kind of object 
# this function select elements of a list

#para obtener un conjunto de returns


select <- function(a)
    {
    a1 = a[1] # de a saca el primer elemento
    a2 = a[length(a)] #de a se saca el ultimo elemento
    
    return(list(a1,a2,length(a))) #return para sacar varios elemetos
    }

In [155]:
lista = c(2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021)

output = select(lista)

In [168]:
lista = c(2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021)

output = select(lista)

f_element = output[[1]]
l_element = output[[2]]
num_element = output[[3]]

cat('first element:', f_element,'\n','last_element:', l_element,'\n','number of elements:', num_element)

first element: 2011
 last_element: 2021
 number of elements: 11

### <a id='2.3'> 2.3 Conditional in function </a>

In [173]:
lista = list(2000,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030)


calculator_square <- function( x, y ){
    
        results = x[y] #
    
    if (1995 >= results){
        
        print( "Year is before 1995")
    } else if ( 2005 >= results &&  results  >= 1995){
        
        print( "Year is after 1995")
        
    } else if (  2022 >= results &&  results > 2005 ){
        return(results)
    } else {
     
       print( "Future Year !!")   
        
    }
    
}

In [174]:
calculator_square(lista,15)

[1] "Future Year !!"

In [176]:
calculator_square(lista,lenght(lista))

[1] "Year is after 1995"

In [177]:
calculator_square(lista,2)

[[1]]
[1] 2010